
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
Upload
{% endblock title %}

{% block content %}
<main>
    
    <main>
        <div>
            <h1>Upload your Work here</h1>
            <form method="POST" class="post-form" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }}  
                <button type="submit" class="save btn btn-default">Save</button>  
        </form>  
        </div>
    </main>

</main>

{% endblock content %}
