<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Philhub</title>
    <link rel="stylesheet" type="text/css" href="../css/styles_2.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="Philhub_index.html">Home</a>
                </li>
                <li>
                    <a href="Published_works.html">Published Works</a>
                </li>
                <li>
                    <a href="">Lounge</a>
                </li>
                <li>
                    <a href="Open_projects.html">Open Projects</a>
                </li>
                <li>
                    <a href="">Events</a>
                </li>
                <li>
                    <a href="">Contact Us</a>
                </li>
            </ul>
            <ul>
                <li><a href="Sign_in.html">Sign in</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                    <a href="">Metaphysics</a>
                </li>
                <li>
                    <a href="">Ethics</a>
                </li>
                <li>
                    <a href="">Mind</a>
                </li>
                <li>
                    <a href="">Math</a>
                </li>
                <li>
                    <a href="">Art</a>
                </li>
                <li>
                    <a href="">Ancient</a>
                </li>
            </ul>
        </nav>
        <h1 id="header_h1">Open Projects</h1>
    </header>
<main>

    <label for="search">Search Projects:</label>
    <input type="search" id="search" name="search">

    <h1>Submit a work:</h1>
    <form method="post"  action="mailto:gabbyburgard@yahoo.com">
        <label for="myFName">* First Name:</label>
        <input type="text" name="myFName" id="myFName" required="required">

        <label for="myLName">* Last Name:</label>
        <input type="text" name="myLName" id="myLName" required="required">

        <label for="myEmail">* E-mail:</label>
        <input type="email" name="myEmail" id="myEmail" required="required">

        <label for="myComments">* Comments:</label>
        <textarea name="myComments" id="myComments" rows="2" cols="20" required="required"></textarea>

       <input type="file" id="file1" name="upload">

        <a href="javascript:clear()">Clear Items</a>

        <p> <input type="submit" id="button"  value="Submit">
        </p>
      </form>
</main>



<footer> </footer>
</body>
