
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
Home
{% endblock title %}

{% block content %}
<main>
    
    <form action="{% url 'search' %}">   
     <input type="search"  
      placeholder="Search" aria-label="Search" name="search">    
      <button type="submit">Search</button>
    </form>

    {% for post in posts %}
    <div>
    <a href="{{ MEDIA_URL }}{{ post.filepath }}">{{ post.name }}</a>
    </div>
    {% endfor %}
    
</main>

{% endblock content %}
