{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
Home
{% endblock title %}

{% block content %}
<main>
    

<body>

    <div class="grid5">
    <div class="files">
    <h1>Upload a document</h1>
    <form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload"/>
    </form>
<h2><a href= {% url 'your_uploads'%}> See your Works</a></h2>
</div>
</div>

    </body>

</main>

{% endblock content %}
