
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
Home
{% endblock title %}

{% block content %}

<main>
    <div class="grid4">
<div class="notes1">
    <h1>Make a Note</h1>
    <form action="{% url 'make_notes' %}" method="post">
        {% csrf_token %}
    <div class="form-group">
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.text_area }}
    </div>
    <div class="form-group">
        <input class="btn" type="submit" value="Submit">
    </div>
    </form>
</div>

<div class= grid6>
    <div class="noteslist">
        <h1 id="Note">Notes</h1>
        {% for note in notes %}
        <h3><a href="{% url 'edit_notes' note.id%}">{{note.title}}</a></h3>
        <p>{{note.text_area}}</p>
        {% endfor %}
        </div>
    </div>
    </div>
</main>

{% endblock content %}
